*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

#top{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
}
.top-left{
    flex-basis: 50%;
    margin-left: 50px;
}
.h1{
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #211A1E;
    font-weight: 600;
}
.p{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #211A1E;
    font-weight: 500;
    padding: 20px 0px;
    line-height: 1.8;
}

.btn{
    padding: 12px 20px;
    background-image: linear-gradient(#5bc0eb, #BEDEEC);
    border-radius: 20px;
    box-shadow: 2px 2px 5px #767778;
    display: inline-block;
    color: #fe0303;
}
.top-right{
    flex-basis: 50%;
}
.top-png{
    position: absolute;
    top: -60%;
    right: 10%;
    transform: translateY(50%);
}
#middle{
    background-image:linear-gradient(90deg,#ea6a6a 50%,#f8dfdf 50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}
.middle-left{
    flex-basis: 50%;

}
.second-slide{
    border-radius: 20px;
    margin-left: 60px;
}
.middle-right{
    flex-basis: 50%;
    margin-left: 110px;
}
.recipes{

    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #211A1E;
    font-weight: 700;
    padding-left: 40px;

}
.a-p{
   text-align: justify;
   padding: 20px 40px;
   color: #211A1E;
   font-weight: 500;
   font-size: 18px;

}
.bt{
    padding: 12px 20px;
    background-image: linear-gradient(#5bc0eb, #BEDEEC);
    border-radius: 20px;
    box-shadow: 2px 2px 5px #767778;
    display: inline-block;
    color: #fe0303;
    margin-left: 40px;
}
#last{
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0)30%,rgb(255, 238, 125)70%), url(images/female/slide-2.jpg);
    background-position: left left;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 600px;
    width: 100%;
}
.last-left{
    flex-basis: 50%;
}
.last-right{
    flex-basis: 50%;
    padding: 0px 30px 0px 0px;
    margin-right: 50px;

}
.au{
    font-size: 28px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
.au-p{
    font-size: 18px;
    padding-bottom: 30px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
}
.contact{
    padding: 12px 20px;
    background-image: linear-gradient(#5bc0eb, #BEDEEC);
    border-radius: 20px;
    box-shadow: 2px 2px 5px #767778;
    display: inline-block;
    color: #fe0303;
}